<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dotnet6MvcLogin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
  @*  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/Dashboard/Display">Dashboard</a></li>
                @if (User.IsInRole("admin"))
                {
                    <li><a href="/Admin/Display">Admin Page</a></li>
                }
                <li><a href="/UserAuthentication/Logout">Logout</a></li>
            </ul>
        </div>
    </nav>*@

    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <a class="navbar-brand" href="javascript:void(0)">Dot net 6 Auth</a>
        <ul class="nav navbar-nav" style="visibility: visible;">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Genre/Add">Genre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
            </li>
        </ul>

    </nav>
    <div class="container">
         @RenderBody()
    </div>
</body>
</html>
