@model Dotnet6MvcLogin.Models.Domain.Genre
@{
}
@Html.ValidationSummary()
<div class="container pt-4">
    <div class="col-row">
   <div class="col-md-5">
      <h3>Genre </h3>
      <form asp-action="Add" method="post">
        <div class="form-group">
            <label>Genre Name*</label>
                <input type="text" asp-for="GenreName" class="form-control" />
            <span asp-validation-for="GenreName"></span>
        </div>

           @if(TempData["msg"]!=null){
               <div class="form-group">
                   @TempData["msg"]
               </div>
           }

            <button type="submit" class="btn btn-dark">Save</button>

      </form>
   </div>
</div>
</div>
